 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
        body {
            font-family: 'Inter', sans-serif;
            overflow-x: hidden;
        }
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #374151;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            background: #8b5cf6;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #6d28d9;
        }